

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}


.container{
    display: flex;
    flex-direction: column;
    width: 250px !important;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 10px;
    background-color: #444;
    margin-top: 10% !important;
    padding: 20px;
    border-radius: 5px;

}

input ,textarea,select{

    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 80%;
    border: solid 1px #fff;

}

button{
    padding: 10px;
    background-color: #ffd700;
    color: #fff;
    font-weight: 500;
    border: none;
    width: 80%;
}
button:hover{
    opacity: 0.8;
}
.nav-div{
 height: auto;
 position: sticky;
 z-index: 100;
 top: 0;
 width: 100%;
}
.home-div{
    background-color: #444;
    color: #fff;
    text-align: center;
}

.issue-div,.open-modal{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: #fff;
    padding: 20px;
    box-shadow: 0px 1px 2px 2px;
    width: 30%;
    border-radius: 5px;
}
.issue-div input ,textarea,select{
    border: solid 0.5px #fff;
    width: 80%;
}
.issue-div button{
    margin-top: 8px;
    width: 50%;
    border-radius: 5px;
}

.del-edit-btn{
    background-color: rgb(255, 94, 0);
    border-radius: 3px;
}
.close-modal{
    display: none;
}
.open-modal{
    display: block;
}